APP_NAME="HIDE & SEEK"
APP_ENV=production
APP_KEY=
APP_DEBUG=true
APP_URL=https://hidenseek.games

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=hidenseek
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=support@hidenseek.games
MAIL_PASSWORD=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

STRIPE_KEY=
STRIPE_SECRET=

SCOUT_QUEUE = true
ALGOLIA_APP_ID=""
ALGOLIA_SECRET=""
ALGOLIA_SEARCH=""

COINBASE_API_KEY=
COINBASE_API_VERSION=
COINBASE_WEBHOOK_SECRET=

# web3 constants
NETWORK = "Polygon"
RPC_URL = "https://polygon-mainnet.g.alchemy.com/v2/D5vNvw3JmeAk6MM1kyfKpiBxAmHjeyp2"
NFT_ADDRESS = ""
VENDOR_ADDRESS = ""
TOKEN_ADDRESS = ""
TOKEN_UNIT = 1000000
WALLET_PRIVATE_KEY = <private key>
WALLET_ADDRESS = <address>
